.navimg {
  height: 50px;
  width: 50px;
  padding-top: 5px;
  margin-top: 5px
}

.stats, .videos, .welcome {
  text-align: center;
}

.aboutimg {
  width: 500px;
  height: 500px;
  margin-top: -20px;
  margin-bottom: -20px;
}

.abouttxt {
  width: 500px;
  height: 500px;
  margin-top: -20px;
  margin-bottom: -75px;
}

.rcimg, .youtubeimg {
  width: 425px;
  height: 450px;
}

.merchimage {
  width: 75px;
  height: 75px;
}

.navlinks {
  color: blue;
  font-size: 20px;
  padding-top: 15px;
}

.container {
  background-color: #1a1a1a;
}

.maxampimg, .cowrcimg {
  width: 100%;
}

.maxamptext, .cowrctext {
  color: white;
  text-align: center;
  font-size: 25px;
}

.slider {
  z-index: 0;
}

.topslogan {
  padding-bottom: 100%;
}

.subscribe{
  text-align: center;
  margin-top: -50px;
}

#topimg {
  width: 75%;
  height: 500px;
}

#viewnum, #subnum {
  color: red;
  font-weight: bold;
}

body {
  background-color: black;
}

h1, h4 {
  font-family: 'CaptureIt';
  color: white;
}

h3, h5 {
  font-family: 'Roboto', sans-serif;
  color: white;
}

a {
  color: lightgray;
}

a:hover {
  color: darkgray;
}

/*custom font*/
@font-face {
  font-family: 'CaptureIt';
  src: url('Capture it.ttf');
  /*src: url('https://www.dafont.com/capture-it.font');*/
}

#modal {
  display: none;
  position: fixed;
  margin: 0 auto;
  z-index: 1;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
  background-color: white;
  width: 50%;
  height: 70%;
  text-align: center;
}

.modaltext {
  color: red;
  text-align: center;
}

.modalimg {
  width: 75%;
  height: 83%;
}

#closebtn {
  background-color: black;
  color: white;
  margin: auto;
  font-size: 18px;
  font-weight: bold;
  display: block;
}

#closebtn:hover {
  cursor: pointer;
}

#close-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0px;
  right: 0px;
  cursor: pointer;
  z-index:220;
}
