.navimg {
  height: 50px;
  width: 50px;
}

.stats {
  text-align: center;
}

.videos {
  text-align: center;
}

.about {
  /*text-align: center;*/
  /*background-color: #34495E;*/
  width: 500px;
  height: 500px;
}

.rcimg, .youtubeimg {
  width: 500px;
  height: 500px;
}

.container {
  /*background-color: #5D6D7E;*/
  background-color: #1a1a1a;
}

#viewnum, #subnum {
  color: red;
  font-weight: bold;
}

body {
  /*background-color: rgba(5, 5, 20, 0.8);*/
  background-color: black;
}

h1, h4 {
  /*font-family: 'Roboto Slab', serif;*/
  font-family: CaptureIt;
  color: white;
}

h3, h5 {
  font-family: 'Roboto', sans-serif;
  color: white;
}

/*custom font*/
@font-face {
  font-family: CaptureIt;
  src: url('http://www.dafont.com/capture-it.font');
}
