.navimg {
  height: 50px;
  width: 50px;
}

.stats {
  text-align: center;
}

.videos {
  text-align: center;
}

.about {
  /*text-align: center;*/
  /*background-color: #34495E;*/
  width: 500px;
  height: 500px;
}

.rcimg, .youtubeimg {
  width: 500px;
  height: 500px;
}

.container {
  background-color: #5D6D7E;

}

#viewnum, #subnum {
  color: red;
  font-weight: bold;
}

body {
  background-color: rgba(5, 5, 20, 0.8);
}

h1 {
  font-family: 'Roboto Slab', serif;
}

h3, h5 {
  font-family: 'Roboto', sans-serif;
}
